:root {
    --background-color: white; 
    --text-color: black;
    --hljs-background: #f3f3f3;
}

html {
    font-family: 'Source Serif 4', serif;
}

footer {
    padding-top: 15px;
    font-size: 17px;
    justify-content: space-around;
    display: flex;
    padding-bottom: 120px;
}

a {
    color: var(--text-color);
}

body {
    background: var(--background-color);
    color: var(--text-color);
}

main {
    min-width: 387px;
    width:50%; 
    margin:auto;
}

article {
    font-size: 20px; 
    text-rendering: optimizeLegibility; 
    letter-spacing: -0.06px; 
    margin-bottom: -9.2px;
}

.about {
    font-size: 20px; 
    line-height: 32px; 
    text-rendering: optimizeLegibility; 
    letter-spacing: -0.06px;
}

.dirName {
    display: inline-flex;
}

.contact-links {
    border-bottom: solid 1px #F2F2F2;
    border-bottom-width: 1px;
    border-bottom-style: solid;
    border-bottom-color: rgb(242, 242, 242);
}

.links {
    font-size: 18px;
    display: flex;
}

.links a {
    padding-right: 10px;
    color: var(--text-color);
}

.tags {
    display: inline;
    font-size: 14px;
    text-align: center;
    align-items: center;
}
